* {
  margin: 0;
  padding: 0;
}

#search-area {
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
  margin-bottom: 1em;
  width: 70%;
  display: flex;
}

#local {
  height: 2em;
  width: 80%;
  border-radius: 1em;
  padding-left: 1em;
}

#search-weather {
  height: 2.2em;
  border-radius: 1em;
  padding-left: 1em;
  background-color: white;
}

#icon {
  width: 1.5em;
}

#conteiner{
  display: flex;
  flex-direction:column;
  width: 30%;
  margin-left: auto;
  margin-right: auto;
  padding: 1em;
  border-radius: 1em;
  background-color:#40E0D0;
}

.content {
  display: flex;
  justify-content: space-around;
  color: white;
  font-size: 1.5em;
  font-weight: 600;
}



